.tab-item-card {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.product-item-container {
  margin-top: 50px;
}

.product-item-card {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.no-item {
  color: #e5dfd9;
  font-family: "Encode Sans";
  font-size: 25px;
}

.category {
  font-family: "Encode Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-align: left;
  margin-left: 40px;
  color: #e5dfd9;
}

.dot {
  font-weight: bold;
  margin: 5px;
}
